<!DOCTYPE html>
<html>
    <head>
        <title>Week 1 Prac | Task 4</title>
    </head>
    <body>
        <h1>Task 4 - Vue.js Framework</h1>
        <h2>Create a basic todo component using Vue</h2>
        <div id="app" style="column-count:1;">
            <h3>My To-Do Checklist:</h3>
            <ol>
                <li v-for="todo in todos">
                    <input type="checkbox"
                    v-on: change="toggle(todo)"
                    v-bind:checked="todo.done">

                    <del v-if="todo.done">
                        {{ todo.text }}
                    </del>
                    <span v-else>
                        {{ todo.text }}
                    </span>
                </li>
            </ol>
            <input 
            placeholder="Add New Task"
            v-model="newItem"
            @keyup.enter="addItem">
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./Task_4.js"></script>
</html>